:root {
    --chiliRed: #d64933;
    --deepBlue: #003c53;
    --deepPurple: #242038;
    --greenBlue: #2364aa;
    --liteBlue: #3da5d9;
    --litePink: #eee5e9;
    --verdigris: #73bfb8;
    --sunriseYellow: #FFE32C;


}

/* body {
background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
} */
body {
    /* background-color: #52ACFF; */
    /* background-image: linear-gradient(360deg, #3da5d9 50%, #73bfb8 50%, #FFE32C 50%); */
    background: #d64933;
}

h1 {
    color: #e5f0f0;
}

/* Styling for the cities entered */
.card {
    background-color: var(--chiliRed);

    width: 90%;
    height: 60px;
    margin: 10px;
    text-align: center;
    float: left;
    color: whitesmoke;
}

/* Styling for the current city/current day entered */

aside {
    background-color: var(--deepPurple);

    width: 30%;
    ;
    height: 400px;
    margin: 5px;
    text-align: center;
    float: center;
    font-size: 40px;
}

.futureday {
    background-color: rgb(89, 99, 233);
    width: 19%;
    height: 25%;
    margin: 5px;
    text-align: center;
    float: left;
    color: whitesmoke;
}